<div class=table >
  <table class="table table-hover" *ngIf="!loggedUser.isTeacher">
    <thead>
      <tr class="table-active">
        <th scope="col">Course Name</th>
        <th scope="col">Teacher Name</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor ="let entry of entryDetalis">
        <td>{{entry.courseName}}</td>
        <td>{{entry.teacherName}}</td>
        <td>{{entry.grade}}</td>
      </tr>


    </tbody>
  </table>
</div>

<div class=table >
  <table class="table table-hover" *ngIf="loggedUser.isTeacher">
    <thead>
      <tr class="table-active">
        <th scope="col">Student Name</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor ="let entry of entriesTeachers">
        <td>{{entry.studentName}}</td>
        <td>{{entry.grade}}</td>
        
      </tr>


    </tbody>
  </table>
</div>

<div class="courses">
  <div *ngIf="!loggedUser.isTeacher">
    <fieldset>
      <legend>Choose course</legend>
      <div class="form-group" >
        <select class="custom-select"  [(ngModel)] = "selectedCourse">
          <option *ngFor= " let course of unatendedCourses" [ngValue]= "course">{{course.name}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary" (click)="onSelectCourseClick()">Select</button>
    </fieldset>
  </div>

  <div   *ngIf="loggedUser.isTeacher">
    <fieldset>
      <legend *ngIf="!getIsTeaching()">Choose course you are teaching </legend>
      <div class="form-group" *ngIf="!getIsTeaching()">
        <select class="custom-select" [(ngModel)] = "selectedTeacherCourse" >
          <option *ngFor= " let course of freeCourses" [ngValue]= "course">{{course.name}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary" (click)="onSelectCourseClick()" *ngIf="!getIsTeaching()">Select</button>
    </fieldset>

    <fieldset>
      <legend *ngIf="getIsTeaching()">Choose student</legend>
      <div class="form-group">
        <select class="custom-select" [(ngModel)]="teachersSelectedStudent" *ngIf="getIsTeaching()">
          <option *ngFor ="let student of teachersStudents" [ngValue]="student">{{student.name}}</option>
        </select>
      </div>
    </fieldset>

    <fieldset > 
      <legend *ngIf="getIsTeaching()">New grade</legend>
      <input type="number" class="form-control" placeholder="Enter grade" [(ngModel)]="newGrade" *ngIf="getIsTeaching()">
      <button type="button" class="btn btn-primary" *ngIf="getIsTeaching()" (click)="updateGrade()">Set grade</button>
    </fieldset>
  </div>
</div>
