<body>
  <div class=register>
    <form>
      <fieldset>
        <h2>Register</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter first name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Last Name</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter last name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Phone Number</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter phone number">
        </div>
        <div class="form-group">
          <label for="idUsername">Username</label>
          <input type="username" class="form-control" id="idUsername" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
        </div>

        <a href="http://localhost:4200/#/auth/login">
          <button type="button" class="btn btn-primary" (click)="onRegisterClick()">Sign Up</button>
        </a>
        <form>
          <fieldset>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> For Students
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" checked=""> Teachers ONLY
              </label>
            </div>
          </fieldset>
        </form>

      </fieldset>
    </form>
  </div>
</body>